.first-page-main {
  display: flex;
  background: url("../../images/florensis.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.first-page-main h1 {
  flex: 1;
  font-size: calc(4vw + 9vh);
  line-height: 1;
  letter-spacing: normal;
  justify-content: center;
  align-self: center;
  padding-left: 1rem;
}

@media screen and (max-width: 768px) {
  .first-page-main {
    height: 70vh;
  }
}
