.filters {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem;
  font-size: 1.5rem;
}

#filter-category {
  padding: 0.2rem;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  color: #0e0e0e;
  margin-left: 0.5rem;
  outline: none;
}

.filters label {
  color: #a3a3a3;
  margin-left: 0.5rem;
}

#filter-industry {
  padding: 0.2rem;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  color: #0e0e0e;
  margin-left: 0.5rem;
  outline: none;
}

@media screen and (max-width: 768px) {
  .filters {
    display: inline-block;
    font-size: 1.7rem;
  }

  .filters label {
    display: inline-block;
    min-width: 13%;
    width: fit-content;
    font-size: 1.7rem;
  }

  #filter-industry {
    display: inline-block;
    font-size: 1.7rem;
  }
  #filter-category {
    display: inline-block;
    font-size: 1.7rem;
  }
}
