form {
  background-color: white;
  width: 100%;
  height: 55vh;
  display: flex;
}

.form-container {
  display: flex;
  background-color: white;
  margin-left: 2.5%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 80%;
}

textarea {
  outline: 0;
  border-width: 0 0 2px;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  color: gray;
}
label {
  display: block;
}

.form-left {
  flex: 1;
  padding-right: 1rem;
}

.form-left p {
  flex: 1;
  padding-right: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.form-right {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.form-container button {
  color: white;
  background-color: #1a18f7;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 0.94rem;
  width: 6rem;
  cursor: pointer;
}

.name-email {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.form-column {
  flex: 1;
}

.form-messageArea {
  flex: 0;
  flex-basis: 100%;
}

span {
  padding-top: 0.3rem;
  display: block;
  font-size: 0.8rem;
  color: red;
}

@media screen and (max-width: 768px) {
  form {
    height: 80vh;
    display: flex;
  }
  .form-container {
    width: 80%;
    margin-top: 2rem;
    margin-left: 8.5%;
    flex-direction: column;
  }

  .form-right {
    flex-direction: column;
  }

  .form-left {
    flex: 0;
    padding-right: 0;
    padding-bottom: 2rem;
    text-align: center;
  }
  .form-left p {
    font-size: 1.2rem;
    display: inline;
    padding-right: 5px;
  }
  .name-email {
    flex-direction: column;
  }
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}
